*::placeholder{
	opacity:0.25;
}
textarea{
  font-family:"微软雅黑";
}
body{
	height:920px;
	background: #2a3050;
}
#main_part{
	position: relative;
	background: #2a3050;
}
/*----------------popPage------------*/
#cs_workPage{
	width:40rem;
	height:30rem;
	display:none;
/*	display:block;*/
	background:#ffffff;
}
#cs_work_input{
	width:20rem;
}
#cs_work_title{
	background-image: url(../img/self/college.png);
}
#cs_colleges{
	display:none;
	overflow-y:scroll;
	z-index: 2;
	border-top:1px dashed rgb(0,0,0,0.2);
	position:absolute;
	width:95%;
	bottom:0px;
	height:calc(100% - 5rem);
	left:2.5%;
	border-radius: 0px;
	background:#ffffff;
	text-align: center;
}
#cs_colleges li{
/*	visibility: hidden;*/
	display:none;
	padding:0.5rem;
	font-size:1.2rem;
}
#cs_colleges li:hover{
	background:#f6f6f6;
}


/*---------*/
#up{
	margin:0px 0px 2px 0px;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	position: relative;
	border-radius: 0.5rem 0.5rem 0px 0px;
	background: #ffffff;
}
#up #workPosition{
	margin:0px 2rem;
	padding:0px 0.5rem;
	background-image:url("../img/renting/college.png");
	text-indent: 2rem;
	background-repeat: no-repeat;
	background-position: 0.5rem center;
	background-size: 1.5rem 1.5rem;
	font-size: 1.2rem;
	opacity:0.5;
	height:2rem;
	display:flex;
	align-items: center;
	border-radius: 0px;
}
#up #workPosition:hover{
/*	background-color:#e7e6f1;*/
	border-bottom: 1px solid rgb(0,0,0,0.5);
}
/*----------------更换校园--------------------------------*/
/*办公 与 用户选择公用 所以用class*/
.SC_shade{
	z-index: 7;
	width: 100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display:flex;
	align-items: center;
	justify-content: center;
	background: rgb(0,0,0,0.6);
}
.SC_wrap{
	width:40rem;
	height:30rem;
/*	display:none;*/
	background:#ffffff;
}
.SC_bar span{
	display: flex;
	align-items: center;
	justify-content: center;

	font-size:1.5rem;
	transition: 0s;
}
.SC_bar{
	margin:1rem 1rem;
	width:calc(100% - 2rem);
	height:2rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.SC_bar span:first-child{
	height:2rem;

	text-indent: 2.5rem;
	background-image: url(../img/self/college.png);
	background-repeat: no-repeat;
	background-size:2rem 2rem;
	background-position: 0px center;
}
.SC_bar span:nth-child(2):hover{
	font-weight: bold;
	opacity: 0.75;
}
.SC_frame{
	height:calc(100% - 3rem - 2px - 2rem);
	margin:1rem;
	border:1px dashed rgb(0,0,0,0.2);
	border-radius: 0.5rem;
	position:relative;
}

.SC_wrap input{
	text-indent: 1rem;
	width:20rem;
	height:2.5rem;
	background:#cccccc;
/*	display: flex;
	align-items: center;*/
/*	background:#194656;*/
	border:none;
	outline:none;
	font-size:1.2rem;
	transition: 0s;
}

.SC_col{
/*	width:75%;*/
	margin:2rem auto 0px;
	height:2.5rem;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
/*	border:1px solid rgb(0,0,0);*/
}
.SC_colleges{
	display:none;
	overflow-y:scroll;
	z-index: 2;
	border-top:1px dashed rgb(0,0,0,0.2);
	position:absolute;
	width:95%;
	bottom:0px;
	height:calc(100% - 5rem);
	left:2.5%;
	border-radius: 0px;
	background:#ffffff;
	text-align: center;
}
.SC_colleges li{
/*	visibility: hidden;*/
	display:none;
	padding:0.5rem;
	font-size:1.2rem;
}
.SC_1olleges li:hover{
	background:#f6f6f6;
}
.SC_submit{
	position:absolute;
	bottom: 1.5rem;
	left:calc(50% - 4rem);
/*	display:none;*/
	height:3rem;
	width: 8rem;
	background:#ffc939;
	color:#ffffff;
	font-size: 1.5rem;
	font-weight: bold;
}

/*---------------------------------------------------*/
#between{
	height:calc(100% - 11rem - 4px);
	width:100%;
	position:relative;
	display:flex;
	justify-content: space-start;
}
#between #betweenLeft{
	height:100%;
	width:5rem;
	margin:0px 2px 0px 0px;
	background:#ffffff;
	border-radius:0px;
	text-align: center;
}
#between #betweenLeft li{
/*	display:block;*/
	width:5rem;
	height:5rem;
/*	background:#ff95ff;*/
	border-radius:0px;
	background-size:1.8rem 1.8rem;
	background-position: center;
	background-repeat: no-repeat;
}
#between #betweenLeft li:hover{
	background-color:#fedb50;
}
#betweenLeft #left_organization{
	background-image: url(../img/workStation/organization.png);
}
#betweenLeft #left_mailBox{
		background-image: url(../img/icon/mailBox.png);
}
#betweenLeft #left_notice{
		background-image: url(../img/workStation/notice.png);
}
#betweenLeft #left_customer{
		background-image: url(../img/workStation/customer.png);
}
#betweenLeft #left_account{
		background-image: url(../img/workStation/account.png);
}
#betweenLeft #noticeAdd_closeB,#noticeDetail_closeB,#orgApply_closeB,#orgJoin_closeB,#orgWork_closeB{
	display:none;
	background-image: url(../img/common/back.png);
}

#betweenLeft #left_closeDetail{
	display:none;

	transform:rotate(135deg);
	border-radius:5rem;	
	filter:saturate(0%);
}
#between #betweenLeft #left_recordORDeleteB{
	display:none;
}
/*selfPage*/
#between_organization,#between_mailBox,#between_notice,#between_customer,#between_account{
	z-index:2;
	border-radius: 0px;
	display:none;
/*	display:flex;*/
	position:absolute;
	margin:0px 0px 0px calc(5rem + 2px);
	background:#ffffff;
	width:calc(100% - 5rem - 2px);
	height:100%;
}
/*#between_notice{
	display: block;
}*/
#between_organization{
	display: flex;
}
/*----------------------------------------------------organization------------------------------------------------*/
#org_left{
		margin:2.5rem;
		width:50rem;
		height:calc(100% - 5rem);
/*		background:#165943;*/
}
#org_left h1{
	display:flex;
	font-size:1.5rem;
	height:2rem;
	line-height: 2rem;
	text-indent: 2rem;
	background-image: url(../img/self/officer.png);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: 0px center;
}
#org_left h1 span:nth-child(2){
	background-image:url(../img/joinTeam/apply.png);
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center;
}
#org_left h1 span:nth-child(3){
	background-image:url(../img/partTime/question.png);
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center;
}



table{
	display:block;
	padding:1rem;
	margin:1rem 0px 0px 0px;
	height:calc(100% - 3rem);
	width:50rem;
/*	background:#193746;*/
	border-radius: 1rem;
	box-shadow:0px 0px 10px rgb(0,0,0,0.1);
}
table *{
		border-radius: 0px;
		transition: 0s;
}
tr:first-child{
	height:2rem;
	border-bottom:1px dashed rgb(0,0,0,0.5);
}
tr{
	margin:0.25rem 0px;
	height:2rem;
	width:100%;
/*	background:#163465;*/
}
.member_col:hover{
	background:rgb(39,23,127,0.1);
}
tr:hover td:last-child img{
	visibility: visible;
}
td,th{
	text-align: center;
	font-size:1.5rem;
}
th{
	border-bottom: 1px dashed rgb(0,0,0,0.1);
	font-weight: bold;
	font-size: 1.5rem;
}
tr th:first-child,tr td:first-child{
	width:5rem;
	height:4rem;
	border-radius: 0.5rem 0px 0px 0.5rem;
}
tr th:nth-child(2),tr td:nth-child(2){
	width:10rem;
	height:4rem;
}
tr th:nth-child(3),tr td:nth-child(3){
	width:calc(50rem - 5rem - 8rem - 2rem);
	height:4rem;
}
tr td:nth-child(3){
	text-indent: 1rem;
	border-left:1px dashed rgb(0,0,0,0.1);
	text-align: left;
}
tr th:nth-child(4),tr td:nth-child(4){
	width:2rem;
	height:4rem;
	border-radius: 0rem 0.5rem 0.5rem 0rem;
}
tr td:first-child img{
	width:2rem;
	height:2rem;
	border:0.25rem solid #e7e6f1;
	border-radius:2rem;
}
tr td:last-child img{
	visibility: hidden;
	width:1.2rem;
}

#org_right{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	margin:2.5rem 0px 2.5rem 0px;
	width:calc(100% - 52rem - 5rem - 1rem);
	height:calc(100% - 5rem);
/*	background:#165946;*/
}
#org_right article{
	margin:0px 1rem 0px 0px;
	position:relative;
	border-radius: 0px;
	display:inline-block;
	width:calc(100% - 1rem);
	height:calc(100% - 25rem - 2rem);
	border-bottom: 1px dashed rgb(0,0,0,0.1);
}
#org_right article h1{
	font-size:1.5rem;
	text-indent: 2rem;
	background-image: url(../img/self/officer.png);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: 0px center;
	line-height: 2rem;
	text-indent: 2rem;
}
#org_right article textarea{
	margin:1rem 0px 0px 0px;
	width:100%;
	height:calc(100% - 3rem);
		text-indent: 2rem;
		font-size:1.2rem;
		border: none;
		outline:none;
		font-size: 1.2rem;
		font-family: 微软雅黑;
		resize: none;
}
#org_right article Button{
	opacity:0.5;
	width:4rem;
	font-size: 1.2rem;
	position:absolute;
	bottom:2rem;
	text-align: left;
	right:0px;
	background-color: transparent;

	background-image: url(../img/workStation/alter.png);
	background-repeat: no-repeat;
	background-size: 1.2rem 1.2rem;
	background-position: right center;
}
#org_right article Button:hover{
	opacity:1;
	text-shadow: 0px 0px 2px rgb(0,0,0,0.5);
}
#org_right section{
	height:25rem;
	display:block;
/*	background:#194634;*/
}
#org_right section h1{
	font-size:1.5rem;
	text-indent: 2rem;
	background-image: url(../img/self/officer.png);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: 0px center;
	line-height: 2rem;
	height: 2rem;
/*	background:#196859;*/
}
#org_right section ul{
	overflow-x: scroll;
	margin:1.5rem 0px 0px 0px;
	width:100%;
	height:21.5rem;
	display:flex;
	font-size:1.2rem;
/*	background:#1946ff;*/
	white-space:nowrap;
}
#org_right section ul li{
	display:block;
	margin: 0rem 0.5rem;
	height:20rem;
	width:15rem;
	background:#9cc2b5;
	flex-shrink:0;
}
#recruitUL li:hover{
	box-shadow: 0px 0px 1rem rgb(0,0,0,0.2);
	background: #83b3a3;	
}
#recruitUL li h5{
	color:#FFFFFF;
	height:1.5rem;
	font-size: 1rem;
  font-weight:blod;
	margin: 0.5rem 0px;
	text-align: center;
}
#recruitUL li p{
	font-weight: bold;
	height:2rem;
	margin:0.5rem 1rem;
	color:#ffffff;
	font-size: 1rem;
	line-height: 2rem;
}
#recruitUL li textarea{
	text-indent: 1rem;
	margin:0px 1rem;
	color:#ffffff;
	font-size: 1rem;
	background: transparent;
	resize: none;
	outline: none;
	border: none;
	width: calc(100% - 4rem);
	height:calc(100% - 15rem);
}
#org_right section ul li:first-child{
		margin:0px 0.5rem 0px 0px;
}
#org_right section ul li:last-child{
		margin:0px 0rem 0px 0.5rem;
}
/*apply*/
#orgPage_apply{
/*	display:block;*/
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;

	background: #ffffff;
}
.detailPage_col1{
  display:flex;
	margin:0.5rem 0px 0px 0px;
	width:100%;
	font-size:1.2rem;
}
.detailPage_col1 span:nth-child(1){
	display: inline-block;
	text-align: right;
	width:8rem;
	height:2rem;
	font-size:1.2rem;
}
.detailPage_col1 textarea{
  outline:none;
  border:none;
	display: inline-block;
	text-align: left;
	width:calc(100% - 8rem);
	font-size:1.2rem;
}

#orgPage_apply > div:nth-child(2){
	display:flex;
	margin:1rem 2rem 2rem 2rem;
	height:calc(100% - 5rem - 2px - 2rem);
}
#orgPage_apply_title{
	background-image: url(../img/joinTeam/apply.png);
}
#orgPage_applyDetail{
	margin:0rem 2rem 2rem 0rem;
/*	background:#195684;*/
	width:calc(70% - 2rem);
	height:calc(100% - 2rem);

}
#orgPage_applyList{
	margin:2rem 2rem 2rem 0px;
/*	background:#195684;*/
	width:calc(30% - 2rem);
	height:calc(100% - 4rem);
	border-left:1px dashed rgb(0,0,0,0.2);
	border-radius: 0px;
}
#orgPage_applyList{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
	overflow-y: scroll;
	position:absolute;
	bottom:0px;
	right:0px;
	border-radius: 0px;
	margin:1rem 1rem;
	width: calc(25% - 2rem);
	height:calc(90% - 2rem);
/*	background:#945643;*/
} 

.sign{
	position: absolute;
	right:-0.75rem;
	top:calc(50% - 0.75rem);
	width:1rem;
	height:1rem;
	background:#55d08f;
	border:0.25rem solid #ffffff;
	border-radius: 1rem;
}
.messageHeadImg{
	margin:0.75rem 0.75rem;
	width:2rem;
	height:2rem;
	border:0.25rem solid #ffffff;
	border-radius: 2rem;
}
.messageShort{
	margin:0rem 1rem;
	width:50%;
	overflow: hidden;
	white-space: nowrap;
}
/*join——detail*/
#orgPage_join_detail{
/*	display:block;*/
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;

	background: #ffffff;
}
#orgPage_join_detail > div:nth-child(2){
	display:flex;
	margin: 1rem 2rem 2rem 2rem;
	height:calc(100% - 5rem - 2px - 1rem);
}
#orgPage_join_detail_title{
	background-image: url(../img/joinTeam/apply.png);
}
#orgPage_join_detail_basics{
	margin:2rem;
/*	background:#195684;*/
	width:calc(60% - 4rem);
	height:calc(100% - 9rem);
}
#orgPage_join_detail_permission{
	margin:2rem 2rem 2rem 0px;
/*	background:#195684;*/
	width:calc(40% - 2rem);
	height:calc(100% - 9rem);
	border-left:1px dashed rgb(0,0,0,0.2);
	border-radius: 0px;
	overflow-y: scroll;
}
#orgPage_join_detail_permission li{
	float:right;
	margin:0rem 1rem;
	width:calc(100% - 2rem);
	height:4rem;
/*	background:#e5eef3;*/
	border-radius: 0.25rem;
	position:relative;
	display:flex;
	align-items: center;
	flex-shrink: 0;
}
#orgPage_join_detail_permission li input[type="checkbox"]{
	margin:0px 1rem;
	width:2rem;
	height:2rem;
}
.addPage_col input{
	text-indent: 0.5rem;
	width:calc(100% - 10rem);
	background:#eeeeee;
	outline: none;
	border: none;
	float:right;
}
.addPage_col1 textarea{
	resize:none;
	height:100%;
	text-indent: 0.5rem;
	width:calc(100% - 10rem);
	background:#eeeeee;
	outline: none;
	border: none;
	float:right;
}
#orgPage_work{
/*	display:block;*/
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;

	background: #ffffff;
}
#orgPage_work > div:nth-child(2){
	padding:2rem;
	width:calc(100% - 6rem);
	height:calc(100% - 9rem - 2px);
	display:flex;
	flex-direction: column;
}
#orgPage_work .works_col{
	margin:0.25rem 0px;
	height:calc(25% - 2.5rem - 1rem);
	flex-shrink: 0;
}
.works_col span:nth-child(1){
	display: inline-block;
	text-align: right;
	width:8rem;
	height:2rem;
	font-size:1.5rem;
}
#orgPage_work textarea{
	height:100%;
	text-indent: 0.5rem;
	width:calc(100% - 10rem);
	background:#eeeeee;
	outline: none;
	border: none;
	float:right;
	resize:none;
}
#orgPage_work_title{
	background-image: url(../img/self/officer.png);
}
#recruitPublish_name{
	text-indent: 0.5rem;
	width:calc(100% - 10rem);
	background:#eeeeee;
	outline: none;
	border: none;
	float:right;
}
/*-------------------------------------between_notice--------------------------------------*/
#bet_notice_up{
	width:100%;
	height:31rem;
/*		background:#193756;*/
}
#between_notice h1{
	display:flex;
	height:2rem;
/*	align-items: center;*/
/*	background: #196765;*/
	margin:1rem;
}
#bet_notice_up ul{
	overflow-x: scroll;
	margin:0px 2rem;
	display:flex;
	width:calc(100% - 4rem);
	height:28rem;
	border-bottom:1px dashed rgb(0,0,0,0.1);
/*		background:#ff37ff;*/
}
#bet_notice_up ul::-webkit-scrollbar{
	height:1rem;
	background:#ffffff;
}
#bet_notice_up ul::-webkit-scrollbar-thumb{
	height:1rem;
	border-radius: 0rem;
	background:#ffffff;
	border: 1px solid rgb(0,0,0,0.1);
}
#bet_notice_up ul li{
	padding: 0.5rem 0.75rem;
	height: 24rem;
/*	border-radius: 0px;*/
/*		background:#ff3756;*/
}
#bet_notice_up ul li:hover{
	filter:brightness(1.1);
}
#bet_notice_up ul li:hover div{
	opacity:1;
}

#bet_notice_up ul li *{
}
#bet_notice_up ul li img{
	padding:0.5rem;
	border: 1px solid rgb(0,0,0,0.1);
	height: 20rem;
}
#bet_notice_up ul li div{
	margin: 0.25rem 0px;
	height:1.5rem;
	font-size:1.2rem;
	display:flex;
	opacity:0.5;
	justify-content: space-around;
}
.notice_work_time{
	text-indent: 1.5rem;
	background-image: url(../img/workStation/time.png);
	background-size: 1.2rem 1.2rem;
	background-repeat: no-repeat;
	background-position: 0px center;
}
#NB_Button{
	display:flex;
	flex-direction: column;
	margin:0px 1rem;
	align-items: center;
	justify-content: center;
	background:#aaaaaa;
	width:2rem;
	height:2rem;
	font-size:1.5rem;
	opacity:0.5;
}
#NB_Button:hover{
	opacity:1;
}


#bet_notice_down{
	width:100%;
	height:calc(100% - 34rem);
/*	background:#193756;*/
}
#bet_notice_down ul{
	overflow-y: scroll;
	margin:0px 1rem;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height:calc(100% - 4rem);
	width:calc(100% - 2rem);
/*	background:#19ff56;*/
}
#bet_notice_down ul::-webkit-scrollbar{
	width:1rem;
	background:#ffffff;
}
#bet_notice_down ul::-webkit-scrollbar-thumb{
	width:1rem;
	border-radius: 0rem;
	background:#ffffff;
	border: 1px solid rgb(0,0,0,0.1);
}

#bet_notice_down li{
	margin:0.25rem 0.5rem 0px 0px;
	display:flex;
	align-items: center;
	justify-content: space-around;
	width:40rem;
	height:3rem;
	background:#e5eef3;
}
#bet_notice_down li:hover{
	background:#b9c5fd;
}
#bet_notice_down li span{
	text-align: center;
	font-size: 1.2rem;
	margin:0px 0.5rem;
}
/*------弹出页面-----*/
#notice_addPage{
/*	display:block;*/
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;

	background: #ffffff;

}
#notice_addPage h2,#notice_detailPage h2{
	margin:1rem 2rem;
	height:2rem;
}
#notice_addPage > div,#notice_detailPage > div{
	display:flex;
	position: relative;
	border:1px dashed rgb(0,0,0,0.2);
	height:calc(100% - 6rem - 2px);
	margin:1rem 2rem;
}
#addPage_info{
	margin:2rem;
	width:40rem;
	height:calc(100% - 4rem);
/*	background:#165986;*/
}
.addPage_col{
	line-height: 2rem;
	margin:0.5rem 0px 0px 0px;
	width:100%;
	height:2rem;
	font-size:1.4rem;
}
.addPage_col span{
	display: inline-block;
	text-align: right;
	width:8rem;
	height:2rem;
	font-size:1.4rem;
}
.addPage_col input{
	border-radius: 0.25rem;
	height:2rem;
}
.addPage_col1{
	margin:0.5rem 0px 0px 0px;
	width:100%;
	height:calc(100% - 13rem - 4rem);
	font-size:1.4rem;
}
.addPage_col1 span{
	display: inline-block;
	text-align: right;
	width:8rem;
	height:2rem;
	font-size:1.4rem;
}

#noticePublish_long{
	resize:none;
	height:100%;
}
#noticePublish_unit,#noticePublish_contact,#noticePublish_period,#noticePublish_sTime,#noticePublish_fee,#noticePublish_long{
	text-indent: 0.5rem;
	width:calc(100% - 10rem);
	background:#eeeeee;
	outline: none;
	border: none;
	float:right;
}
#addPage_img{
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:10rem;
	color:#cccccc;
	margin:2rem;
	height:calc(100% - 4rem - 4rem);
	width:calc(100% - 40rem - 8rem - 1px);
/*	border-left:rgb(0,0,0,0.2) dashed 1px;*/
	background-color:#eeeeee;
 
  background-image:url(../img/workStation/noticeAdd.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#addPage_img:hover{
	box-shadow:0px 0px 5px rgb(0,0,0,0.2);
}
#posterFile{
	display:none;
}
#cropper_module{
	background-color:rgb(0,0,0,0.5);
}

#notice_detailPage{
/*	display:block;*/
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;

	background: #ffffff;
}
.detailPage_col{
	line-height: 2rem;
	margin:0.5rem 0px 0px 0px;
	width:100%;
	height:2rem;
	font-size:1.2rem;
}
.detailPage_col span:nth-child(1){
	display: inline-block;
	text-align: right;
	width:8rem;
	height:2rem;
	font-size:1.2rem;
}
.detailPage_col span:nth-child(2){
	display: inline-block;
	text-align: left;
	width:calc(100% - 8rem);
	height:2rem;
	font-size:1.2rem;
}
#detailPage_info,#detailPage_img{
	margin:2rem;
	width:calc(33% - 4rem);
	height:calc(100% - 4rem);
}
#detailPage_long{
	font-size:1.2rem;
	margin:2rem 0px;
	padding: 0px 2rem;
	width:calc(33% - 4rem);
	height:calc(100% - 4rem);
	border-left:1px dashed rgb(0,0,0,0.2);
	border-right:1px dashed rgb(0,0,0,0.2);
	border-radius: 0px;
}
#detailPage_img{
	display:flex;
	justify-content: center;
	align-items: center;
}
#detailPage_img img{
	max-height:100%;
	max-width:100%;
}
/*----------------------------------------------------mail------------------------------------------------*/

#mail{
/*	display:none;*/
	width:75%;
	height:calc(100% - 2px);
	position: relative;
/*	background: #563521;*/
}
#mail #envelop{
	margin: 0px auto;
	width: 50rem;
	height: calc(43rem + calc(100% - 43rem - 11rem)/2 - 3rem);
/*	min-height: 54rem;*/
/*	background: #856147;*/
	position: absolute;
	left:calc(50% - 25rem);
	top: 8rem;
	transition: 1s;
	z-index:2;
}
#mail #envelop > div{
/*	top: -50px;*/
	margin: 0px auto;
	width: 50rem;
	height: 100%;
/*	background: #864293;*/
	background-image: url("../img/mailBox/bottom.png");
	background-size: 50rem;
	background-repeat: no-repeat;
	transition: 1s;
}
#mail #envelop > div:after{
	pointer-events: none;
	/*鼠标穿透*/
/*	display: none;*/
	content: "";
	width: 50rem;
	height: 100%;
	position: absolute;
	top: 0px;
/*	background: #896293;*/
	background-image: url("../img/mailBox/surface.png");
	background-size: 50rem;
	background-repeat: no-repeat;
	transition: 1s;
}
#mail #envelop form{
/*	display: none;*/
	position: relative;
	top: 20rem;
	padding: 2rem 1.5rem;
	margin: 0px auto;
	width: calc(86% - 2.5rem);
	height: 17rem;
	background: #ffff;
/*	background: #f6f6f6;*/
/*box-shadow: 1px 1px 20px rgb(0,0,0,0.2);*/
	transition: 1s;
}
#mail #envelop:hover{
	top:4rem;
	height: 100%;
}
#mail #envelop:hover form{
	top: 0px;
	height: 42rem;
	box-shadow: 1px 1px 20px rgb(0,0,0,0.2);
}
#mail #envelop:hover form{
	top: 0px;
	height: 42rem;
	box-shadow: 1px 1px 20px rgb(0,0,0,0.2);
}
/*#mail #envelop:hover button{
	opacity: 0;
}*/
#mail #envelop:hover > div{
/*	margin: 10rem auto 0px;*/
	background-position: center 10rem;
	height: calc(100% - 6rem);
}
#mail #envelop:hover > div:after{
/*		display: none;*/
/*	margin: 10rem auto 0px;*/
	background-position: center 10rem;
	height: 100%;
}
#mail #acceptB{
	display: flex;
	font-weight: bolder;
	justify-content: center;
	text-align: center;
	margin: 1rem auto;
	font-family: heiti;
	font-size: 2rem;
	width: 12.5rem;
	height: 4rem;
	border: none;
	transition: 1s;
	position: absolute;
	bottom:1rem;
	left:calc(50% - 6.25rem);
  opacity:0.5;
}
#mail #acceptB:hover{
  opacity:1;
}
#hello{
	font-size: 2rem;
	font-weight: bolder;
	color: #6c6c6c;
}
#hello2{
	font-size: 1.5rem;
	font-weight: bolder;
	color: #6c6c6c;
	opacity: 0.5;
}
#eContent{
	border: 2px solid rgb(108,108,108,0.5);
	border-radius: 0px;
	padding: 1rem;
	width: calc(100% - 2rem);
	margin: 1.5px auto;
	height: calc(100% - 6rem);

	font-size: 1rem;
/*	font-weight: bold;*/
	opacity: 0.5;
}

#eContent:focus{
	outline: none;
}


#mail_statistics{
	opacity:0.5;
	margin:1rem 1rem;
	position:absolute;
	bottom:calc(90% - 1rem);
	right:0px;
	font-size:1.2rem;

}
#mail_statistics span{
	margin:0rem 0.25rem;
	font-weight: bold;

}
#between_mailBox ul{
	overflow-y: scroll;
	position:absolute;
	bottom:0px;
	right:0px;
	border-radius: 0px;
	margin:1rem 1rem;
	width: calc(25% - 2rem);
	height:calc(90% - 2rem);
/*	background:#945643;*/
} 
.li_bar{
	float:right;
	margin:0.25rem 1.2rem 0px 0px;
	width: 80%;
	height:4rem;
	background:#e5eef3;
	border-radius: 0.25rem;
	position:relative;
	display:flex;
	align-items: center;
 	border:1px solid #ffffff;
}
.li_bar:hover{
	border:1px solid #00c82a;
}
.sign_over,.sign_nodeal,.sign_nolook{
	position: absolute;
	right:-0.75rem;
	top:calc(50% - 0.75rem);
	width:1rem;
	height:1rem;
	border:0.25rem solid #ffffff;
	border-radius: 1rem;
}
.sign_over{
  background:#d8d8d8;
}
.sign_nodeal{
  background:#f4d400;
}
.sign_nolook{
  background:#d26262;
}
.messageHeadImg{
	margin:0.75rem 0.75rem;
	width:2rem;
	height:2rem;
	border:0.25rem solid #ffffff;
	border-radius: 2rem;
}
.messageShort{
	margin:0rem 1rem;
	width:50%;
	overflow: hidden;
	white-space: nowrap;
}
/*----------------------------------------------------customer------------------------------------------------*/
#chatFrame{
	margin:2.5rem;
	padding:1rem;
	width:calc(60% - 6rem - 2rem);
	height:calc(100% - 2px - 6rem - 2rem);
	border:0.5rem solid #ffffff;
	box-shadow: 0px 0px 10px rgb(0, 0, 0,0.1);
	position: relative;
	background: #f8f8f8;
	border-radius: 1rem;
}
/* chatList 模块*/
#chatList{
	margin:1rem;
	height: calc(100% - 6rem - 2px - 2rem);
	width:calc(100% - 4rem);
/*	background:#195645;*/
}
.sendingModule{
/*	align-items: center;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
/*	background: #f6f6f6;*/
	height: 6rem;
	position: absolute;
	bottom: 0px;
	width: calc(100% - 2rem);
	border-top: 2px solid rgb(0,0,0,0.02);

	border-radius: 0px;
}
.sendingModule input{
	border: none;
	outline: none;
	background: transparent;
}
.sendingModule input[type="text"]{
	text-indent: 20px;
	font-size: 1.5rem;
	color: rgb(0,0,0,0.5);
/*	background: #680034;*/
	min-height: 3rem;
	width: 90%;
}
.sendingModule input[type="button"]{
	margin: 0px 25px;
	width: 40px;
	height: 40px;
	font-size: 1.5rem;
	color: #999999;


	background-image: url(../img/main/send.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.sendingModule input::placeholder{
	color: rgb(0,0,0,0.2);
}
/*.sendingModule input[type="button"]:hover{
	background: #efefef;
}*/

#customer_statistics{
	opacity:0.5;
	margin:1rem 1rem;
	position:absolute;
	bottom:calc(90% - 1rem);
	right:0px;
	font-size:1.2rem;

}
#customer_statistics span{
	margin:0rem 0.25rem;
	font-weight: bold;

}
#between_customer #customer_history{
	overflow-y: scroll;
	position:absolute;
	bottom:0px;
	right:0px;
	border-radius: 0px;
/*	border-top:1px dashed rgb(0,0,0,0.1);*/
	margin:1rem 1rem;
	width: calc(25% - 2rem);
	height:calc(90% - 2rem);
/*	background:#945643;*/
} 
#between_customer #customer_history li{
	float:right;
	margin:0.25rem 1.2rem 0px 0px;
	width: 80%;
	height:4rem;
	background:#e5eef3;
	border-radius: 0.25rem;
	position:relative;
	display:flex;
	align-items: center;
}
#between_customer #customer_history li:hover{
	width: 85%;
	background:#87b2c9;
}



/*发范德萨*/
#footer{
	margin:2px 0px 0px 0px;
	background:#ffffff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position:absolute;
	bottom:0px;
	width:100%;
	height:5rem;
	border-radius:0px 0px 0.5rem 0.5rem;
}
#footer p{
	width:6rem;
	height:2.5rem;
	font-size:1.2rem;
	margin:0px 1rem 0px 0px;
	display:flex;
	align-items: center;

	background-image: url(../img/more.png);
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: 100% center;
	opacity:0.4;
}
#footer p:hover{
	opacity:1;
}

#statistics{
	margin:2px 0px 0px 0px;
	background:#ffffff;
/*	display: flex;*/
	display:none;
	align-items: center;
	justify-content: flex-end;
	position:absolute;
	bottom:0px;
	width:100%;
	z-index:5;
	height:calc(100% - 6rem - 2px);
	border-radius:0px 0px 0.5rem 0.5rem;
}
#statistics #miniB{
	position:absolute;
	bottom:1.25rem;
	right:1rem;

	width:6rem;
	height:2.5rem;
	font-size:1.2rem;
	display:flex;
	align-items: center;

	background-image: url(../img/mini.png);
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: 100% center;
	opacity:0.4;
}
#statistics #miniB:hover{
	background-color:#456213;
}