@media screen and (max-width: 1200px){		/*小于1200px,left-part去掉*/
    #left_part{
    	display: none;
    }
    #main_part{
    	width: 100%;
    }
}
@media screen and (min-width: 1201px){		/*大于1200px,left-part去掉*/
    #left_part{
    	display: block;
    }
    #main_part{
    	width: 90%;
    }
}
body{
	background: #6181bc;
}
#notice_detailPage{
	height:64rem;
	background:#ffffff;
/*	display:flex;*/
	display:none;
	position:relative;
}
#notice_detailPage > button{
	position:absolute;
	top:0px;
	right:1rem;
	height:3rem;
	font-size:1.2rem;
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	background:transparent;
}
#ND_img{
	margin:3rem 2.5rem 2.5rem 2.5rem;
	height:calc(100% - 5.5rem);
	background:#ffffff;
}
#ND_text{
	display:block;
	margin:3rem 2.5rem 2.5rem 0px;
	height:calc(100% - 5.5rem);
	width:40rem;
	background:#ffffff;
  border: none;
  outline:none;
  resize:none;
  font-family:"微软雅黑";
  font-size:1.5rem;
}
/*------------------------cs------------------*/
#cs_userPage{
	width:40rem;
	height:30rem;
	display:none;
/*	display:block;*/
	background:#ffffff;
}
#cs_user_input{
	width:20rem;
}
#cs_user_title{
	background-image: url(../img/self/college.png);

}
#cs_colleges{
	display:none;
	overflow-y:scroll;
	z-index: 2;
	border-top:1px dashed rgb(0,0,0,0.2);
	position:absolute;
	width:95%;
	bottom:0px;
	height:calc(100% - 5rem);
	left:2.5%;
	border-radius: 0px;
	background:#ffffff;
	text-align: center;
}
#cs_colleges li{
/*	visibility: hidden;*/
	display:none;
	padding:0.5rem;
	font-size:1.2rem;
}
#cs_colleges li:hover{
	background:#f6f6f6;
}












#up{
	display: flex;
	position: relative;
	height: calc(45% - 0.5rem);
	margin: 0px 0px 1rem 0px;
/*	background-color: #ffff;*/
}
#notice{
	margin: 0px 1rem 0px 0px;
	width: calc(100% - 350px);
/*	background-color: #785621;*/
}
#up #notice ul{
	width: 100%;
	height: 300px;
/*	display: flex;*/
	justify-content: center;
	list-style-type: none;
	white-space: nowrap;
	overflow-x: hidden;
}
#up #notice ul::-webkit-scrollbar{
	display:none;
}
#up #notice #radio{
	display: flex;
	width: 100%;
	list-style-type: none;
	justify-content: center;
}
#up #notice #radio button{
	width: 10px;
	height: 10px;
	margin: 20px 2px;
	border: none;
	border-radius: 1px;
}
#up #notice ul li{
	display:inline-block;
	margin: 0.1rem 0.2rem;
	height:300px;
/*	width: calc(calc(100% - 3.4rem - 600px) / 14);*/
	box-shadow: 1px 5px 10px #212121;
	background: #ffffff;
	transition: 0.2s;
	position:relative;
}
#up #notice ul li:hover{
	filter:brightness(1.15);
}
#up #notice ul li img{
	transition: 0.5s;
	height:100%;
}
#up #affair ul li{
	margin: 0.1rem;
	padding: 0px 1rem;
	height: 10%;
}
#up #affair ul li:hover{
	padding: 0px 2rem;
	position: relative;
	width: calc(100% - 2.2rem);
	left: -1rem;
	background: #05b4ce;
/*	overflow-x: visible;*/
}

#affair{
	width: 350px;
	background-color: #efefef;
	position: relative;
}
#up #affair ul{
	list-style-type: none;
	margin: 0.5rem;
	height: 100%;
}
#up #affair > img{
	position: absolute;
	top: 0px;
	right: 5px;
	width: 25%;
	width: #891534;
}
/*其他*/
#affair a{
	height: 100%;
	display: flex;
	align-items: center;
/*	width: 100%;*/
	text-decoration: none;
}
#affair a img{
	margin: 0.5rem;
	height: 50%;
}
#affair p{
	font-size: 1.5rem;
/*	font-family: heiti2;*/
	font-weight: heavy;
	color: #000000;
	margin: auto 1rem;
	height: 50%;
/*	background: #561823;*/
}


#down .information ul{
	background: #864399;
	list-style-type: none;
	margin: 80px auto 0px;
}
#down .information ul li{
	display: flex;
	height: auto;
	margin: 0px 1rem;
	background: #004399;
}
#down .information ul li .short{
	position: relative;
	height: 120px;
	background: #004300;
}





/*如何计算剩下的高度*/

#noticePage{
	Z-index: 10;
	display: none;
	width: 1200px;
	height: 600px;
	position: fixed;
	left: 350px;
	top: 200px;;
	background-image: url("../img/notice/notice1.png");
}
#noticePage button{
	border: none;
	width: 40px;
	height: 40px;
	float: right;
	margin: 10px;
	background: url("../img/close.png");
	background-size: contain;
}
#noticePage button:hover{
	filter: brightness(1.1);
}

.headPor{
	position: absolute;
	height: 160px;
	top: -80px;
	width: 100%;
/*	background: #ffff;*/
	display: flex;
	align-items: center;
}
.headPor div{
	margin: 0px auto;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background-image: url("../img/bb.png");
/*	background: #6181bc;*/
}
.headPor img{
	position: absolute;
	left: calc(50% - 80px);
}
.sentence{
	display: block;
	font-family: kaiti;
	font-size: 1.1rem;
	color: #ffff;
	margin: 8px 1rem 0.5rem;
}
.imgs{
	margin: 0.5rem 0.5rem;
	display: flex;
	justify-content: space-between;
}
.imgs *{
	border-radius: 0px;
	width: 90px;
}
.head{
	position: absolute;
	top: -15px;
	left: 20px;
	width: 30px;
	width: 30px;
	border: 2px solid #efefef;
	border-radius: 20px;
}
/*trumpet小喇叭*/
@keyframes trumpet_move
{
0% {transform:scale(1);}
50% {transform:scale(1.25);}
100% {transform:scale(1);}
}
@keyframes	trumpetFrame_move1
{
0% {left:51rem;visibility: visible;}
100%{left:-51rem;visibility: visible;}
}
@keyframes	trumpetFrame_move2
{
0% {left:51rem;visibility: visible;}
100%{left:-51rem;visibility: visible;}
}
#trumpet{
	position:absolute;
	bottom:4rem;
	left:calc(50% - 25rem);
	width:52rem;
	height:3rem;
	display:flex;
	align-items: center;
}
#trumpet:hover #tru_button{
	visibility: visible;
}
#tru_frame{
	-webkit-mask-image: -webkit-linear-gradient(right,rgb(0, 0, 0,0) 1%, rgb(0, 0, 0,1) 30%, rgb(0, 0, 0,1) 60%,rgb(0, 0, 0,0) 99%);
	background:#ffffff; 
	position: relative;
	width:50rem;
	height:3rem;
	overflow:hidden;
	border-radius: 0px;
/*	border-top: 3px solid  rgb(0,0,0);
	border-bottom: 3px solid rgb(0,0,0);*/
/*	background:#193756;*/
}
#tru_move{
	height:3rem;
	width:50rem;
	display:flex;
	align-items: center;
	justify-content: center;
/*	visibility: hidden;*/
	position:absolute;
	left:0rem;
	animation: trumpetFrame_move1 10s linear 1;
}
#tru_move *{
	font-weight:bold;
	font-size: 1.2rem;
}
#tru_move img{
	margin:0px 0.5rem;
	height:2.5rem;
	animation:trumpet_move 1s infinite;
}
#tru_button{
	/*visibility: hidden;*/
	width:2rem;
	height:2rem;
	border-radius: 0px;
	border: 2px solid  rgb(255,255,255);
	background-color: transparent;
	font-size: 1.5rem;
	color:#ffffff;
	opacity: 0.5;
	transition: 0.5s;
}
#tru_button:hover{
	/*visibility: hidden;*/
	box-shadow:1px 1px 2px rgb(0,0,0,0.25);
}

#trumpet_publishPage{
	/*display:block;*/
  display:none;
	height:24rem;
	width:48rem;
	background:#ffffff;
	position:relative;
	text-align: center;
}
#TP_title{
	background-image: url(../img/trumpet.png);
}
#TP_input{
	width:32rem;
}










/*聊天室*/
#chat h1{
	margin: 5px;
	height:3rem;
	font-size: 2.5rem;
	font-weight: bold;
	color: #393939;
}
/* chatList 模块*/
#chatList{
	height: calc(100% - 13rem - 6rem - 2px);
}
.sendingModule{
/*	align-items: center;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f6f6f6;
	height: 6rem;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 2px solid rgb(0,0,0,0.02);

	border-radius: 0px;
}
.sendingModule input{
	border: none;
	outline: none;
	background: transparent;
}
.sendingModule input[type="text"]{
	text-indent: 20px;
	font-size: 1.5rem;
	color: rgb(0,0,0,0.5);
/*	background: #680034;*/
	min-height: 3rem;
	width: 90%;
}
.sendingModule input[type="button"]{
	margin: 0px 25px;
	width: 40px;
	height: 40px;
	font-size: 1.5rem;
	color: #999999;


	background-image: url(../img/main/send.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.sendingModule input::placeholder{
	color: rgb(0,0,0,0.2);
}
/*.sendingModule input[type="button"]:hover{
	background: #efefef;
}*/

#chat #chatList{
	margin: 0.5px auto;
	padding: 0px 1.5rem;
	width: calc(100% - 3rem);
	height: calc(100% - 7rem);
	list-style-type: none;

	overflow-y: scroll;
/*	background: #564792;*/
}
#down{ 
	position: relative;
	display: flex;
	justify-content: space-between;
	height: calc(55% - 0.5rem);
	background-color: #f6f6f6;
}
.centerBoard{
	background: #f6f6f6;
	text-align: center;
	width: 50%;
	height: calc(100% + 4.5rem);
	position: absolute;
	top: -4.5rem;
	left: calc(25%);
	box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
}
.leftBoard{
	width: 25%;
	background: #f6f6f6;
}
.rightBoard{
	width: 25%;
	background: #f6f6f6;
}

#chatLog{

}
#chatUp{
	height:3rem;
	width:100%;
	margin:1rem auto;
	display: flex;
	justify-content: center;
}
#chatLogSearch{
	outline: none;
	border: none;
	text-indent: 4rem;
	height: 3rem;
	width: 60%;
	background-image: url(../img/main/search.png);
	background-repeat: no-repeat ;
	background-size: 1.5rem;
	background-position: 2rem center;
	background-color: #e2e2e2;
}
#chatLogSearch::placeholder{
	font-size: 1rem;
}
#chatlogs{
	height:calc(100% - 11rem - 2px);
	background:#f6f6f6;
	overflow-y:scroll;
	border-radius:0px;
}
#chatlogs li{
/*	background:#193756;*/
	height:5rem;
	border-radius:0px;
	display:flex;
	align-items: center;
}
#chatlogs li:hover{
	background:#e9e9e9;
}
#chatlogs li img{
	margin:0.75rem 0rem 0.75rem 1.5rem;
	height:3.5rem;
	width:3.5rem;
}
#chatlogs li #chatlogTextInfo{
	margin:0.5rem;
	width:calc(100% - 6rem - 5rem);
	height:calc(100% - 1rem);
/*	background:#1937ff;*/
}
#chatlogs li #chatlogTextInfo > div{
	height:50%;
	display:flex;
	align-items: center;
}
#chatlogs li #chatlogTextInfo div:nth-child(1){
	font-weight: bold;
}
#chatlogs li #chatlogTextInfo div:nth-child(1) #chatlog_name{
	color:#343434;
	font-size: 1.5rem;
}
#chatlogs li #chatlogTextInfo div:nth-child(1) #chatlog_time{
	font-size: 1.2rem;
	opacity:0.5;
}

#chatlogs li #unMessage{
	height: 2rem;
	width:2rem;
	font-size:1rem;
	border-radius: 4px;
	background:#dddddd;
	color:#ffffff;
	display:flex;
	align-items: center;
	justify-content: center;

	margin: 0px 2rem 0px 1rem;
}

#chatlogButtons{
	display:flex;
	align-items: center;
	height: 6rem;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 2px solid rgb(0,0,0,0.02);
	overflow-y:scroll;
}
#chatlogButtons img{
	margin:0px 0.75rem;
	width:2rem;
	height:2rem;
}
#chatlogButtons img:nth-child(1){
	margin:0px 0.5rem 0px 1rem;
}
#chatlogButtons img:hover{
	filter:brightness(1.2);
}


#rightInfo{
/*	position:relative;*/
}
#club_info{
	position: relative;
	margin:3rem 3rem 1rem 3rem;
	background:transparent;
	width:calc(100% - 6rem);
	height:6rem;
	border:2px solid rgb(0,0,0,0.1);
	display:flex;
}
#club_info > div{
	width:100%;
	height:100%;
	display:flex;
/*	background:#459464;*/
}
#club_info_headImg{
	background:transparent;
	width:4rem;
	height:4rem;
	margin:1rem;
}
#club_info_text{
	width:calc(100% - 7rem);
	margin:1rem 1rem 1rem 0px;
}
#club_info_name{
	margin:0px 0px 0.5rem 0px;
	width:100%;
	height:1.5rem;
	font-weight:bold;
	font-size:1.2rem;
/*	background:#495623;*/
	border-radius:2px;
}
#club_info_intro{
	width:100%;
	height:2rem;
	font-weight:lighter;
	font-size:1rem;
/*	background:#495623;*/
}













#club_function{
	position: relative;
	padding:1rem;
	margin:0rem 3rem;
	width:calc(100% - 8rem);
	background:transparent;
	height:calc(100% - 20rem);
	border:2px solid rgb(0,0,0,0.1);
	display:inline-block;
}
#club_function img{
	margin:0.5rem;
	wdith:3rem;
	height:3rem;
}
#club_info_title,#club_function_title{
	height:1.5rem;
	position:absolute;
	display:block;
	background:#ffffff;
	top:-0.75rem;
	left:1rem;
	opacity:0.5;
}