body{
	height:920px;
	background: #d9b355;
}
#main_part{
	position: relative;
	background: #ffcc00;
}
#up{
	margin:0px 0px 2px 0px;
	height: 6rem;
	display: flex;
	align-items: center;

	position: relative;
	border-radius: 0.5rem 0.5rem 0px 0px;
	background: #ffffff;
}
#up #search{
	width:100%;
/*	background:#956546;*/
	display:flex;
	margin:0px 0px 0px 17.5rem;
	opacity:0.5;
  justify-content:flex-end;
}
#up #search div{
	height:4rem;
/*	background:#197563;*/
	margin:0px 1.5rem;
}
#up #search div p{
	text-indent:1.5rem;
	height:1.5rem;
	display: flex;
	align-items: center;

	background-repeat: no-repeat;
	background-size: 1.2rem;
	background-position: 0px center;
}
/*所有都加了1* 因为关掉搜索框 */
#up #search div:nth-child(1) p{
	background-image: url("../img/partTime/PT_place.png");
}
#up #search div:nth-child(2) p{
	background-image: url("../img/partTime/PT_period.png");
}
#up #search div:nth-child(2) p{
	background-image: url("../img/partTime/PT_payWay.png");
}
#up #search div:nth-child(4) p{
	background-image: url("../img/partTime/sort.png");
}
#up #search select{
	width:10rem;
	height:2.5rem;
	outline:none;
	border-radius: 0.25rem;
	border:1px solid #000000;
}
/*搜索框暂时禁用
#up #search div:nth-child(1){
	width:30rem;
	margin:1.5rem 2rem 0px 0px;
	height:2.5rem;
	outline:none;
	border-radius: 0.25rem;
	border:1px solid #000000;
	background:#ffffff;
	display:flex;
}
#up #search div:nth-child(1) input[type="text"]{
	width:calc(100% - 2.5rem);
	height:2.5rem;
	background:transparent;
	border:none;
	outline:none;
	text-indent:1rem;
}
#up #search div:nth-child(1) input[type="button"]{
	background:transparent;
	height:2.5rem;
	width:2.5rem;
	background-image: url("../img/main/search.png");

	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: center;
}
*/
#between{
	height:calc(100% - 11rem - 4px);
	width:100%;
	position:relative;
	display:flex;
	justify-content: space-start;
}
#between #betweenLeft{
	height:100%;
	width:5rem;
	margin:0px 2px 0px 0px;
	background:#ffffff;
	border-radius:0px;
}
#between #betweenLeft li{
	height:5rem;
	width:100%;
/*	background:#ff95ff;*/
	border-radius:0px;

	background-repeat: no-repeat;
	background-size: 1.8rem;
	background-position: center;
}
#between #betweenLeft li:hover{
	background-color:#fedb50;
}
#between #betweenLeft #left_addViewB{
	background-image: url("../img/partTime/add.png");
}
#between #betweenLeft #left_selfPageB{
	background-image: url("../img/partTime/self.png");
}
#between #betweenLeft #left_closeDetail{
	display:none;
	background-image: url("../img/partTime/add.png");

	transform:rotate(135deg);
	border-radius:5rem;	
	filter:saturate(0%);
}
#between #betweenLeft #left_recordB{
	display:none;
	background-image: url("../img/partTime/save.png");
}
/*selfPage*/
#selfPage{
	z-index:2;
	border-radius: 0px;
	display:none;
/*	display:flex;*/
	position:absolute;
	margin:0px 0px 0px calc(5rem + 2px);
	background:#ffcc00;
	width:calc(100% - 5rem - 2px);
	height:100%;
}
#selfPage #self_Tags{
	display:inline-block;
	height:100%;
	width:12rem;
	margin:0px 2px 0px 0px;
/*	background:#ff9561;*/
	border-radius:0px;
}
#self_Tags li{
	display: flex;
	align-items: center;
	height: 1.5rem;
	margin: 1rem 0px 0px 1rem;
	filter: saturate(0%);
	opacity: 0.3;
	font-size: 1.2rem;

	transition: margin 0.25s 0.25;
	transition: opacity 0.5s;
	transition: filter 0.5s;
}
#self_Tags li img{
	height: 1.2rem;
	border-radius: 0px;
}
#self_Tags li p{
	margin:0px 0.5rem;
}
#self_Board{
	margin:1rem 0px 1rem 0px;
	display:flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	width:calc(100% - 12rem - 2px);
	height:calc(100% - 2rem);
/*	background:#194682;*/
	border-radius:0px;
}
#self_Board::-webkit-scrollbar{
	width: 0.5rem;
	background:transparent;
}
#self_Board::-webkit-scrollbar-thumb{
	background:#ffffff;
	border-radius: 0.5rem;
}
#self_Board li{
/*	display: inline-block;*/
	margin: 0px 1rem 6px 0px;
	width:26rem;
	height:15rem;
	background:#ffffff;
	border-radius:0px;
	border-radius:0.5rem;
}
#self_Board li:hover{
	box-shadow: 5px 5px 10px rgb(0,0,0,0.25);
}
/*兼职简介*/
#self_Board li .PT_tag{
	display:flex;
	align-items: center;
	margin:1.5rem 1rem;
	border-left:3px solid rgb(0, 0, 0, 0.7);
	height:1rem;
	font-size:1rem;
	text-indent: 1rem;
	border-radius:0px;
	opacity: 0.7;
}
#self_Board li .PT_short{
	display:flex;
	align-items: center;
	margin:1.5rem 1rem;
	height:1rem;
	font-size:1.3rem;
	font-weight: bold;
}
#self_Board li .PT_texts{
	display:flex;
	align-items: center;
	margin:4rem 1rem 1rem;
	height:1rem;
	font-size:1rem;
	opacity:0.5;
}
#self_Board li .PT_texts span{
	display:flex;
	align-items: center;
	height:1rem;
	font-size:1rem;
}
#self_Board li .PT_texts span:nth-child(2){
	margin:0px 1rem;
	padding:0px 1rem;
	border-left:2px solid #000000;
	border-right:2px solid #000000;
	border-radius: 0px;
}
#self_Board li .PT_money{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width:calc(100% - 3rem);
	margin:1.5rem 2rem 1.5rem 1rem;
	height:1.5rem;
	font-size:1rem;
/*	background:#495316;*/
	border-radius: 0px;
}
#self_Board li .PT_money span:nth-child(1){
	color: #fb7615;
}
#self_Board li .PT_money .PT_salary{
	font-size:1.5rem;
}
#self_Board li .PT_money .PT_payWay{
	display:flex;
	align-items: center;
	height:1rem;
	font-size:1rem;
	border:1px solid #000000;
	border-radius:0px;
	padding:0.25rem;
	opacity:0.5;
}
/*AddPage*/
#betweenAddPage{
/*	display:flex;*/
  z-index:3;
	display:none;
	height:calc(100% - 4rem);
	position:absolute;
	padding:2rem 3.5rem;
	width:calc(100% - 5rem - 2px - 7rem);
	left: calc(5rem + 2px);
	background:#ffffff;
	border-radius: 0px;
}
#betweenAddPage #AddPage_publishPart{
/*	width:20rem;*/
	height:100%;
	width:100%;
	border-radius: 0px;
/*	border:2px dashed rgb(0,0,0,0.25);*/
	width:calc(76rem + 4px);
}
#AddPage_form{
	padding:2rem;
	margin:1.5rem 0px 1rem 0px;
	width:72rem;
	height:calc(100% - 18rem);
	border-radius: 0px;
	border:2px dashed rgb(0,0,0,0.25);
	display:flex;
	border-radius:0px;
}
#AddPage_form p{
	height:1.5rem;
	font-size:1.2rem;
	margin:0.75rem 0px 0.25rem 0px;
}
#AddPage_form_left{
	height:100%;
	width:35rem;
	height:100%;
/*	background:#916865;*/
	border-radius:0px;
}
#publish_salaryUnit{
	width:8rem;
}
#AddPage_form_left input,#AddPage_form_left select{
	text-indent: 1rem;
	height:2.5rem;
	background:#f5f5f5;
	border:none;
	outline:none;
	border-radius: 0.25rem;
	font-size: 1.2rem;
}
#AddPage_form_left div:nth-child(2),#AddPage_form_left div:nth-child(14){
	width:100%;
	display:flex;
	justify-content: space-between;
}
#publish_tag,#publish_period,#publish_place{
	width: calc(33% - 1rem);
}
#publish_salary{
	width:8rem;
}
#publish_address,#publish_unit,#publish_short,#publish_recruitNumber,#publish_contact,#publish_time{
	width:100%;
}
#AddPage_form_right{
	margin:0px 0px 0px 2rem;
	height:100%;
	width:35rem;
/*	background:#676494;*/
	border-radius:0px;
}
#AddPage_form_right textarea{
	padding:1rem;
	width:calc(100% - 2rem);
	height:calc(100% - 2.5rem - 2rem);
	border:none;
	outline:none;
	background:#f5f5f5;
	border-radius: 0.25rem;
}
#AddPage_rule{
	font-size:1.5rem;
	display:flex;
	align-items: center;
}
#AddPage_rule input{
	margin:0px 1rem 0px 0px;
	background:#198bd4;
	height:2rem;
	width:2rem;
	border-radius: 0.25rem;
	font-weight: bold;
	font-size:1.5rem;
	color:#ffffff;
}
#AddPage_rule span:hover{
  color:#198bd4;
}
#AddPage_publish_submit{
	display:block;
	margin: 1.5rem auto;
	background:#feb22e;
	height:3rem;
	width:15rem;
	font-weight: bold;
	font-size:1.5rem;
	color:#ffffff;
}

#publish_rule_detail{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 8;
	display: none;
/*	display:flex;*/
	align-items: center;
	justify-content: center;
	background: rgb(0,0,0,0.6);
}
#PRD_wrap{
	height:64rem;
	width:96rem;
	background:#ffffff;
	display:flex;
	position:relative;
}
#PRD_wrap button{
	position:absolute;
	top:0px;
	right:1rem;
	height:3rem;
	font-size:1.2rem;
	display:flex;
	align-items: center;
	justify-content: center;
	background:transparent;
}
#PRD_wrap button:hover{
	font-weight: bold;
}
/*预览部分*/
#AddPage_previewPart{
	margin: 0px 5rem;
/*	background:#789531;*/
	width:26rem;
}
#AddPage_previewPart h2{
	width:100%;
	text-align: center;
}
#AddPage_previewBoard{
	display: inline-block;
	margin:1.5rem 0px 1rem 0px;
	width:26rem;
	height:15rem;
	background:#ffffff;
	border-radius:0.5rem;
	box-shadow: 0px 0px 10px rgb(0,0,0,0.25);
}
/*预览 仿照布告栏部分*/
#preview_tag{
	display:flex;
	align-items: center;
	margin:1.5rem 1rem;
	border-left:3px solid rgb(0, 0, 0, 0.7);
	height:1rem;
	font-size:1rem;
	text-indent: 1rem;
	border-radius:0px;
	opacity: 0.7;
}
#preview_short{
	display:flex;
	align-items: center;
	margin:1.5rem 1rem;
	height:1rem;
	font-size:1.3rem;
	font-weight: bold;
}
#preview_texts{
	display:flex;
	align-items: center;
	margin:4rem 1rem 1rem;
	height:1rem;
	font-size:1rem;
	opacity:0.5;
}
#preview_texts span{
	display:flex;
	align-items: center;
	height:1rem;
	font-size:1rem;
}
#preview_texts span:nth-child(2){
	margin:0px 1rem;
	padding:0px 1rem;
	border-left:2px solid #000000;
	border-right:2px solid #000000;
	border-radius: 0px;
}
#preview_money{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width:calc(100% - 3rem);
	margin:1.5rem 2rem 1.5rem 1rem;
	height:1.5rem;
	font-size:1rem;
/*	background:#495316;*/
	border-radius: 0px;
}
#preview_money span:nth-child(1){
	color: #fb7615;
}
#preview_money #preview_salary{
	font-size:1.5rem;
}
#preview_money #preview_payWay{
	display:flex;
	align-items: center;
	height:1rem;
	font-size:1rem;
	border:1px solid #000000;
	border-radius:0px;
	padding:0.25rem;
	opacity:0.5;
}
/* detail*/
#detailPage{
	display:none;
/*	display:flex;*/
	height:calc(100% - 7rem);
	position:absolute;
	padding:3.5rem 3.5rem;
	width:calc(100% - 5rem - 2px - 7rem);
	left: calc(5rem + 2px);
	z-index:3;
	background:#ffffff;
	border-radius: 0px;
}
.det_title{
	height:1.5rem;
	font-size:1.2rem;
	margin:0.75rem 0px 0.25rem 0px;
	background:transparent;
}
.det_content{
	display:flex;
	align-items: center;
	text-indent: 1rem;
	height:2.5rem;
	background:#f5f5f5;
	border:none;
	outline:none;
	border-radius: 0.25rem;
	font-size: 1.2rem;
}
#detailPage_left{
	height:100%;
	width:30%;
/*	background:#916865;*/
	border-radius:0px;
}
#detailPage_left div:nth-child(2),#detailPage_left div:nth-child(14){
	width:100%;
	display:flex;
	justify-content: space-between;
	background:transparent;
}
#detail_tag,#detail_period,#detail_place{
	display:flex;
	justify-content: center;
	align-items: center;
	width:calc(33% - 1rem);
	background: #f5f5f5;
	height:100%;
	border-radius: 0.25rem;
}
#detail_money{
	height:100%;
	display:flex;
}
#detail_salary,#detail_salaryUnit,#detail_payWay{
	display:flex;
	justify-content: center;
	align-items: center;
	background: #f5f5f5;
	height:100%;
	width: 8rem;
	border-radius: 0.25rem;
}
#detailPage_right{
	margin:0px 0px 0px 2rem;
	height:100%;
	width:calc(70% - 2rem);
/*	background:#676494;*/
	border-radius:0px;
}
#detailPage_right #detail_long{
	padding:1rem;
	width:calc(100% - 2rem);
	height:calc(100% - 2.5rem - 2rem);
	border:none;
	outline:none;
	background:#f5f5f5;
	border-radius: 0.25rem;
}
/*tag*/
#between #betweenTags{
	height:100%;
	width:12rem;
	margin:0px 2px 0px 0px;
/*	background:#ff9561;*/
	border-radius:0px;
}
#between #betweenTags li{
	display: flex;
	align-items: center;
	height: 1.5rem;
	margin: 1rem 0px 0px 1rem;
	filter: saturate(0%);
	opacity: 0.3;
	font-size: 1.2rem;

	transition: margin 0.25s 0.25;
	transition: opacity 0.5s;
	transition: filter 0.5s;
}
#between #betweenTags li img{
	height: 1.2rem;
	border-radius: 0px;
}
#between #betweenTags li p{
	margin:0px 0.5rem;
}
#between #betweenBoards{
	width:calc(100% - 17rem - 4px);
/*	background:#194682;*/
	border-radius:0px;
}
#between #betweenBoards #addValueBoard{
	width:100%;
	height:16rem;
/*	background:#ff4682;*/
	border-radius:0px;
	display:flex;
}
#between #betweenBoards #addValueBoard li{
	margin: 0px 2px 0px 0px;
	width:calc(20% - 2px);
	height:100%;
	background:#ffffff;
	border-radius:0px;
}
#between #betweenBoards #normalBoard{
	margin:1rem 0px 0px 0px;
	display:flex;
	flex-wrap: wrap;
	width: 108.5rem;

	height:calc(100% - 17.5rem);
/*	background:#ff4682;*/
	border-radius:0px;
	overflow-y: scroll;
	overflow-style: auto;
}
#between #betweenBoards #normalBoard::-webkit-scrollbar{
	width: 0.5rem;
	background:transparent;
}
#between #betweenBoards #normalBoard::-webkit-scrollbar-thumb{
	background:#ffffff;
	border-radius: 0.5rem;
}
/*#between #betweenBoards #normalBoard::-wi{
}*/
#between #betweenBoards #normalBoard li{
	display: block;
	margin: 0px 1rem 6px 0px;
	width:26rem;
	height:15rem;
	background:#ffffff;
	border-radius:0px;
	border-radius:0.5rem;
}
#between #betweenBoards #normalBoard li:hover{
	box-shadow: 5px 5px 10px rgb(0,0,0,0.25);
/*	transform: rotateZ(10deg);
	transform-style: preserve-3d;*/
}
/*兼职简介*/
#between #betweenBoards #normalBoard li .PT_tag{
	display:flex;
	align-items: center;
	margin:1.5rem 1rem;
	border-left:3px solid rgb(0, 0, 0, 0.7);
	height:1rem;
	font-size:1rem;
	text-indent: 1rem;
	border-radius:0px;
	opacity: 0.7;
}
#between #betweenBoards #normalBoard li .PT_short{
	display:flex;
	align-items: center;
	margin:1.5rem 1rem;
	height:1rem;
	font-size:1.3rem;
	font-weight: bold;
}
#between #betweenBoards #normalBoard li .PT_texts{
	display:flex;
	align-items: center;
	margin:4rem 1rem 1rem;
	height:1rem;
	font-size:1rem;
	opacity:0.5;
}
#between #betweenBoards #normalBoard li .PT_texts span{
	display:flex;
	align-items: center;
	height:1rem;
	font-size:1rem;
}
#between #betweenBoards #normalBoard li .PT_texts span:nth-child(2){
	margin:0px 1rem;
	padding:0px 1rem;
	border-left:2px solid #000000;
	border-right:2px solid #000000;
	border-radius: 0px;
}
#between #betweenBoards #normalBoard li .PT_money{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width:calc(100% - 3rem);
	margin:1.5rem 2rem 1.5rem 1rem;
	height:1.5rem;
	font-size:1rem;
/*	background:#495316;*/
	border-radius: 0px;
}
#between #betweenBoards #normalBoard li .PT_money span:nth-child(1){
	color: #fb7615;
}
#between #betweenBoards #normalBoard li .PT_money .PT_salary{
	font-size:1.5rem;
}
#between #betweenBoards #normalBoard li .PT_money .PT_payWay{
	display:flex;
	align-items: center;
	height:1rem;
	font-size:1rem;
	border:1px solid #000000;
	border-radius:0px;
	padding:0.25rem;
	opacity:0.5;
}
/*发范德萨*/
#footer{
	margin:2px 0px 0px 0px;
	background:#ffffff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position:absolute;
	bottom:0px;
	width:100%;
	height:5rem;
	border-radius:0px 0px 0.5rem 0.5rem;
}
#footer p{
	height:1.5rem;
	font-size:1.2rem;
	margin:0px 2.5rem 0px 0px;
}